html{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;

}
body{
    width: 100%;
    margin: 0 auto;
}
.container{
    width: 70%;
    margin: 0 auto;
    color: #354657;
}
/* Header */
.page__header{
    background-color: #F8F4FC;
    margin-bottom: 70px;
}
.page__header_nav{
    display: flex;
    width: 72%;
    padding-left: 7%;
    justify-content: space-between;
}
.page__header_menu{
    width: 70%;
    margin: 0 auto;
    padding-top: .6rem;
    padding-bottom: .8rem;
    display: flex;
    align-items: center;
}
.page__header_nav_menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    font-size: .8rem;
    font-weight: 700;
}
.page__header_nav_menu li a{
    text-decoration: none;
    color: #354657;
}
.page__header_nav_menu li:nth-of-type(2){
    padding: 0 2.5rem;
}
.page__header_nav_menu li:nth-of-type(3){
    padding-left: 0;
    padding-right: 2.5rem;
}
.page__header_menu_top_right a{
    margin-left: 1rem;
}
.breadcrumbs{
    width: 70%;
    margin: 0 auto;
    padding-bottom: .8rem;
}
.breadcrumbs a{
    font-size: .7rem;
    line-height: .8rem;
    color: #626262;
    text-decoration: none;
}
.breadcrumbs a:nth-of-type(2){
text-decoration: underline;
}
.breadcrumbs a::before{
    content: url("../img/arrow.svg");
    padding: 0 .5rem;
}
.breadcrumbs a:first-of-type::before{
content: url();
}
/* Order title */
.title__order{
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: .7rem;
}

/* Form section */
.form__section{
    display: flex;
}

/* Left SECTION */
.left__section{
    width: 33%;
    margin-right: 1.5rem;
}
.data{
    background-color: #F8F4FC;
    padding: 1rem .35rem 1.5rem 1rem;
}
/* Login and register radio form */
.login__register{
    
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    background-color: #F8F4FC;
    padding: 1rem .35rem 1.5rem 1rem;
}
.login__register > div{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.login__register label{
    font-size: .8rem;
    display: inline-block;
}
.login__register label:last-of-type{
    margin-left: .8rem;
}
/* Personal data form */
.personal__data div:first-of-type{
    font-size: 1rem;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}
.personal__data label{
    font-size: .7rem;
}
.personal__data input{
    font-size: .7rem;
    color: #ADA8A8;
    width: 90%;
    text-indent: 1rem;
    height: 1.9rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    border: 1px solid #B6B6B6;
    border-radius: 3px;
}
/* Delivery data form */
.delivery__data div:first-of-type{
    font-size: 1rem;
    font-weight: 700;
    padding-top: .5rem;
    padding-bottom: 1.5rem;
}
.delivery__data label{
    font-size: .7rem;
}
.delivery__data input{
    font-size: .7rem;
    color: #ADA8A8;
    width: 90%;
    text-indent: 1rem;
    height: 1.9rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    border: 1px solid #B6B6B6;
    border-radius: 3px;
}
/* RIGHT SECTION */
/* Delivery method */
.right__section{
    width: 67%;
}
.delivery__method input{
    font-size: .7rem;
}
.delivery__method label{
    font-size: .8rem;
}
.delivery__method{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    background-color: #F8F4FC;
    padding: 1rem .35rem 1.5rem 1rem;
}
.delivery__method > div{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
/* Payment method */

.payment__method{
    background-color: #F8F4FC;
    padding: 1rem .35rem 1.5rem 1rem;
}
.payment__method input{
    font-size: .7rem;
}
.payment__method label{
    font-size: .8rem;
}
.payment__method div:first-of-type{
    font-size: 1rem;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}
/* Your cart table */
.your__cart{
    margin-top: 3.05rem;
    margin-bottom: .75rem;
    font-size: 1rem;
    font-weight: 700;
}
table{
    width: 100%;
    font-size: .7rem;
    text-align: left;
    border-collapse: collapse;
}
table tr:nth-of-type(1){
    background-color: #F8F4FC;
}
table tr:nth-of-type(2){
    height: 2.9rem;
}
table tr:nth-of-type(1){
    height: 2.1rem;
}
td{
    vertical-align: center;
}
.attributes{
    font-weight: 700;
}
table input{
    width: 2.3rem;
    height: 1.35rem;
    border: 2px solid #E9E9E9;
    border-radius: 3px;
   
}
.attributes td:first-of-type{
    text-indent: 1.5rem;
}
.item div{
    display: flex;
    align-items: center;
    justify-content: left;
}
.item img{
    margin-left: .5rem;
    cursor: pointer;
}
.item img:first-of-type{
    margin-left: 1.5rem;
}
.totals{
    height: 2.3rem;
}
.totals td:nth-of-type(2){
    text-align: right;
    font-weight: 700;
}
.final::after{
    content: " ";
    display: inline-block;
    width: 1.5rem;
}
tr td:nth-of-type(4){
    text-align: center;
}
/* Payment notes */
.payment__method__notes{
    background-color: #F8F4FC;
   padding-left: 1.5rem;
    padding-bottom: 1.5rem;
}
.payment{
    font-size: 1rem;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    margin-top: 3.5rem;
}
.notes label{
    font-size: .7rem;
    
}
textarea{
    display: inline-block;
    margin-top: .5rem;
    padding-top: .5rem;
    width: 95%;
    height: 4.3rem;
    resize: none;
    font-size: .7rem;
    text-indent: .5rem;
    color: #ADA8A8;
    border: 1px solid #B6B6B6;
    border-radius: 3px;
    box-sizing: border-box;
}
.checkbox__personal_data{
    margin-top: .8rem;
    font-size: .7rem;
}
/* Pay button */
.pay__btn{
display: flex;
width: 95%;
justify-content: flex-end;
}
.btn__submit{
    display: block;
    margin-top: 1.5rem;
	background-color: #946fd3;
	text-decoration: none;
	color: #ffffff;
	padding: 18px 35px;
	border-radius: 30px;
	font-weight: 700;
	border: none;
	font-size: .8rem;
    cursor: pointer;
}

/* Footer */
.footer__container{
    border-top: 1px solid #E2E2E2;
    padding: 1rem 0;
    margin-top: 7.5rem;
}
.footer__menu{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__menu_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__menu_navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
.footer__menu_navigation_links{
    width: 30%;
}
.footer__links{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.footer__links a {
    color: #354657;;
    text-decoration: none;
    font-size: .8rem;
    font-weight: 700;
}
.footer__menu_navigation_socials{
    display: flex;
    justify-content: space-between;
    width: 25%;
}
/* Changing radio input appearance */
input[type="radio"]{
    opacity: 0;
    width: 0;
    margin: 0;
}
label[for="login"], label[for="register"], label[for="delivery_1"],label[for="delivery_2"],label[for="delivery_3"]{
    display: inline-block;
    padding-left: 1.3rem;
    margin-right: .5rem;
    background: url(../img/radio_unchecked.svg);
    background-repeat: no-repeat;
}


input:checked + label[for="login"],
input:checked + label[for="register"],
input:checked + label[for="delivery_1"],
input:checked + label[for="delivery_2"],
input:checked + label[for="delivery_3"]{
    background: url(../img/radio_unchecked.svg), top 3px left 3px url(../img/checked.svg);
    background-repeat: no-repeat;
}

